
$primary: rgb(197, 163, 125);
$text: #272727;
$text_light: #555;
$black: #000;
$white: #ffffff;
$border: rgba(39, 39, 39, 0.2);
$borderWhite: rgba(255, 255, 255, 0.2);
$borderLight: #f6f6f6;
$borderInput: #ede3d8;
$error:#ff1461;
$counter:hsla(0, 0%, 0%, 30%);
$light_bg: #f3ece5;