@import '~/assets/colors.scss';
// @import '~/assets/fonts.scss';
// @import '~/assets/mixins.scss';




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}


body {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: $text;
	letter-spacing: 1px;
}

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}
body {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.75em;
    color: $text_light;
    overflow-x: hidden !important;
    background: #fff;
}
p {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.75em;
    color: $text_light;
    margin-bottom: 20px;
    letter-spacing: 0.25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.25em;
    margin: 0 0 20px 0;
    color: $text;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 17px;
}
img {
    width: 100%;
    height: auto;
}
img {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #323232;
}
span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
b {
    font-weight: 400;
    color: $primary;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    // margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}
*, ::after, ::before {
    box-sizing: border-box;
}

*::selection {
    color: $text;
    background: transparent;
}
.page {
	width: 100%;
	// min-height: calc(100vh - 100px);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.container{
	width:100%;
	margin-right:auto;
	margin-left:auto;
}
@media (min-width:600px){
	.container{
		max-width:540px
	}
}
@media (min-width:800px){
	.container{
		max-width:770px
	}
}
@media (min-width:1000px){
	.container{
		max-width:970px
	}
}
@media (min-width:1240px){
	.container{
		max-width:1140px
	}
}


/* ======= Section style ======= */
.section-padding {
    padding: 120px 0;
}
.section-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1em;
    // font-family: 'Khand', sans-serif;
    text-transform: uppercase;
    color: $text;
    position: relative;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.section-subtitle {
    color: $primary;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 4px;
    align-items: center;
    display: inline-flex;
}
.section-subtitle::before {
    position: relative;
    top: 0px;
    content: '';
    background-color: $primary;
    width: 40px;
    height: 1px;
    margin-right: 15px;
}
