@import '~/assets/colors.scss';
@import '~/assets/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}
body {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.75em;
    background: #fff;
		color: $text;
		letter-spacing: 1px;
}
p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.75em;

    margin-bottom: 20px;
    letter-spacing: 0.25px;
}

h1, .h1 {
    font-size: 60px;
}
h2, .h2 {
    font-size: 50px
}
h3, .h3 {
    font-size: 40px;
}
h4, .h4 {
    font-size: 30px;
}
h5, .h5 {
    font-size: 20px;
}
h6, .h6 {
    font-size: 17px;
}
img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #323232;
}
.cool-lightbox {
	img {
		width: auto;
		height: auto;
	}
}
span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
b {
    font-weight: 400;
    color: $primary;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    // margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}
*, ::after, ::before {
    box-sizing: border-box;
}

*::selection {
    color: $text;
    background: transparent;
}
.page {
	width: 100%;
	min-height: 100vh;
}


.container{
	width:100%;
	margin-right:auto;
	margin-left:auto;
}
@media (min-width:600px){
	.container{
		max-width:540px
	}
}
@media (min-width:800px){
	.container{
		max-width:770px
	}
}
@media (min-width:1000px){
	.container{
		max-width:970px
	}
}
@media (min-width:1240px){
	.container{
		max-width:1140px
	}
}


/* ======= Section style ======= */
.section-padding {
    padding: 120px 0;
}
.section-title {
    @include section_title
}
.section-subtitle {
    color: $primary;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 4px;
    align-items: center;
    display: inline-flex;
}
.section-subtitle::before {
    position: relative;
    top: 0px;
    content: '';
    background-color: $primary;
    width: 40px;
    height: 1px;
    margin-right: 15px;
}
.home_intro {
	position: absolute;
	z-index: 3;
	// width: 100%;
	bottom: 5%;
	right: 12%;
	display: flex;
	.slick-active {
		.custom-dot{
			border: 1px solid $primary;
			&::after {
				background: $primary;
			}
		}
	}
	li {
		float: left;
	}
	.custom-dot {
		position: relative;
		background-color: transparent;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin: 0 4px;
		padding: 0;
		margin: 0 5px;
		width: 24px;
		height: 24px;
		line-height: 24px;
		border: 1px solid $white;
		color: transparent;
		// button
		&::after {
			width: 4px;
			height: 4px;
			margin: 0;
			background: $white;
			content: '';
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.button{
	padding: 10px 24px;
	position: relative;
	font-size: 17px;
	letter-spacing: 3px;
	transition: all 200ms linear;
	text-transform: uppercase;
	border-radius: 0;
	width: fit-content;
	background-color: $primary;
	color: $white;
	&::before {
		content: '';
    position: absolute;
		background-color: $white;
    top: 50%;
    left: 20px;
    height: 1px;
    width: 0;
    transition: all 200ms linear;
	}
	&:hover {
		padding-left: 60px;
		color: $white;
		&::before {
			width: 30px;
		}
	}
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}