
@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
};


@mixin d-flex($fd:row, $jc: center, $ai: center, $w: 100%) {
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
	align-items: $ai;
	width: $w;
};

@mixin section_title($fz: 50px, $mb: 20px) {
		font-size: $fz;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: $text;
    position: relative;
    margin-bottom: $mb;
    letter-spacing: 0.5px;
}